html, body {
  height: 100%;
  background-color: #edb265;
  font-family: 'Ubuntu', sans-serif;
}

.container-bg {
  height: 100%;
  background-color: white;
}

.btn-default {
  margin-top: 20px;
}
.preference {
  padding-top: 30px;
  text-align: center;
  font-size: 3.5em;
  
}

.preference > a {
  cursor: pointer;
  color: black;
}

.time-input {
  display: block;
  padding: 2px;
  margin: auto;
}

.clock-design {
  display: block;
  width: 250px;
  height: 200px;
  margin: 30px auto;
  padding: 10px 2px 2px 2px;
  border: 5px solid #edb265;
  border-radius: 50%;
  font-size: 3.5em;
  text-align: center;
}

.clock-text {
  margin: auto;
  padding: 50px;
}